.App {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to top, #c9d6ff, #e2e2e2);
  /* background: linear-gradient(to top, #1c92d2, #f2fcfe); */
  /* background: linear-gradient(to top, #6190e8, #a7bfe8); */
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
  margin-top: 20px;
}

.MuiTableCell-root {
  border-color: black !important;
}
